.benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 80px 20px;
    gap: 40px;
}
.benefits__title-container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}
.benefits__title-container a {
    font-size: 18px;
    color: var(--gray);
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0px;
    margin-top: 20px;
}
.benefits__title-container:hover a {
    text-decoration: none;
}
.benefits__img-container img {
    max-width: 400px;
    height: 550px;
    object-fit: cover;
    filter: grayscale(100%);
}
@media screen and (max-width: 768px) {
    .benefits__img-container img {
        max-width: 320px;
        height: auto;
    }
}