.service__card-container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    gap: 40px;
}
.hero-services__img-container img {
    max-width: 320px;
    height: 480px;
    object-fit: cover;
    filter: grayscale(100%);
}
.hero-services__title-container {
    max-width: 600px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.hero-services__title-container h1{
    font-size: 14px;
    color: var(--primary);
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 1px;
}
p {
    font-size: 18px;
    color: var(--gray);
    line-height: 1.5;
    letter-spacing: 0px;
}
.hero-services__title-container a {
    padding: 12px 30px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 1px;
    background-color: var(--primary);
    text-decoration: none;
    color: #fff;
}
.hero-services__title-container a:hover {
    background-color: var(--dark-primary);
}
.hero-services__title-container span {
    background-color: var(--primary);
    display: inline-block;
    height: 10px;
    width: 10px;
}
.span--square {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
@media screen and (max-width: 768px) {
    .service__card-container {
        flex-wrap: wrap;
        flex-direction: row-reverse;
    }
}